<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>New Record</h1>
    <form action="#" method="POST">
        <label for="address">Enter your Ethereum address:</label>
        <input type="text" id="address" name="account" placeholder="Enter your Ethereum address" >
        <label for="address">Enter your Intial Payment:</label>
        <input type="text" id="address" name="initial_balance" placeholder="Enter your Ether " >
        <button type="submit">New account</button>
    </form>
</body>
</html>
