<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTranaction</title>
</head>
<body>
    <h1>New Tranaction-</h1>
    <form action="#" method="POST">
        <label for="address">Enter your account</label>
        <input type="text" id="address" name="account" placeholder="Enter your Receive address" >
        <label for="address">Enter your Intial Payment:</label>
        <input type="text" id="address" name="amount" placeholder="Enter your amount" >
        <button type="submit">Send Tranaction</button>
    </form>
</body>
</html>
